{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <section class="container-register1">
        <div class="connect_form1">

            <div class="col-rgt">
                <h1 class="title-form1">Inscription</h1>
                <p class="text-form"></p>
                <div class="form-control-element">
                    {{ form_start(registrationForm, {
                        'attr': {
                            'class': 'form-control-element',
                        },
                    })
                    }}


                    {{ form_row(registrationForm.username, {
                        'attr': {
                            'placeholder': "Nom d'utilisateur",
                            'class': 'form-elements',
                        },
                        'label': false
                    })
                    }}

                    {#  {{ form_row(registrationForm.email, {
                    'attr': {
                    'placeholder': "Nom d'utilisateur",
                    'class': 'form-elements',
                    },
                    'label': false
                    })
                    }}
                    #}

                    {{ form_row(registrationForm.plainPassword, {
                        'attr': {
                            'placeholder': "Mot de passe",
                            'class': 'form-elements',
                        },
                        'label': false
                    })}}
                    {{ form_row(registrationForm.agreeTerms , {
                        'label': "Conditions générales d'utilisation ",
                        'label_attr': {'style': 'font-size: 12px;'},
                        'attr': {
                            'class': 'form-aggrements',
                        },
                    })
                    }}
                </div>
                <button type="submit" class="btn-sign-in1">Créer un compte</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="active-btn">
                <p>Vous avez un compte ? <a href="{{ path('app_login') }}"><u>Connectez-vous</u></a></p>
            </div>

        </div>

    </section>
{% endblock %}



