{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <section class="vh-100" style="background-color: #3e1f47 ;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card shadow-lg" style="background-color: #FFFFFF ; border: none;
                                                               border-radius: 1rem;">

                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-flex">
                                <img src= " https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/286321119_578697023687837_6822990204831811985_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Ic3BxdjW8LsAX-72n-r&_nc_ht=scontent-cdg4-2.xx&oh=00_AfBZFRKQtBnrGncv09P9J14ZQh32Z_SwYrc_w-VF4YJ03w&oe=6563584C"
                                     alt="Inscription" class="img-fluid img-thumbnail " style="border-radius: 1rem 0 0 1rem;" />
                            </div>

                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">


                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="blog-header-logo h1 fw-bold mb-0">Inscription</span>
                                    </div>

                <div class="form-control-element">
                    {{ form_start(registrationForm, {
                        'attr': {
                            'class': 'form-control-element',
                        },
                    })
                    }}


                    {{ form_row(registrationForm.username, {
                        'attr': {
                            'placeholder': "Nom d'utilisateur",
                            'class': 'form-elements',
                        },
                        'label': false
                    })
                    }}

                    {#  {{ form_row(registrationForm.email, {
                    'attr': {
                    'placeholder': "Nom d'utilisateur",
                    'class': 'form-elements',
                    },
                    'label': false
                    })
                    }}
                    #}

                    {{ form_row(registrationForm.plainPassword, {
                        'attr': {
                            'placeholder': "Mot de passe",
                            'class': 'form-elements',
                        },
                        'label': false
                    })}}
                    {{ form_row(registrationForm.agreeTerms , {
                        'label': "Conditions générales d'utilisation ",
                        'label_attr': {'style': 'font-size: 12px;'},
                        'attr': {
                            'class': 'form-aggrements',
                        },
                    })
                    }}
                </div>


                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block"
                                                type="submit">Crée un compte</button>
                {{ form_end(registrationForm) }}
                                    <div class="active-btn">
                                        <p>Vous avez un compte ? <a href="{{ path('app_login') }}"><u>Connectez-vous</u></a></p>
                                    </div>
            </div>


        </div>

    </section>
{% endblock %}



